<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

    <div class="alert alert-danger" *ngIf="errorMessage">
        <strong>Error!</strong> {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div layout-align='center center' layout='column'>
        <div>
            <mat-form-field>
                <mat-label>Product Name</mat-label>
                <input matInput type="text" formControlName="name" required>
                <mat-error *ngIf="form.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput type="number" formControlName="price" required>
                <mat-error *ngIf="form.controls['price'].invalid">{{getPriceErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required></textarea>
                <mat-error *ngIf="form.controls['description'].invalid">{{getDescriptionErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    
    
    
    

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

